@mixin flexbox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flexWrap($op: wrap) {
  -webkit-flex-wrap: $op;
  -ms-flex-wrap: $op;
  flex-wrap: $op;
}
@mixin flexDirection($dir: column) {
  -webkit-flex-direction: $dir;
  -ms-flex-direction: $dir;
  flex-direction: $dir;
}
@mixin flexJustify( $pos: space-between) {
  -webkit-justify-content: $pos;
  -moz-justify-content: $pos;
  -ms-justify-content: $pos;
  -o-justify-content: $pos;
  justify-content: $pos;
}

@mixin flexAlign( $pos: center) {
  -webkit-align-items: $pos;
  -ms-align-items: $pos;
  align-items: $pos;
}

@mixin flexGrow( $num: 1) {
  -webkit-flex-grow: $num;
  -moz-flex-grow: $num;
  -ms-flex-grow: $num;
  -o-flex-grow: $num;
  flex-grow: $num;
}

@mixin flexOrder( $num: 1) {
  -webkit-order: $num;
  -moz-order: $num;
  -ms-order: $num;
  -o-order: $num;
  order: $num;
}

@mixin flexAlignSelf( $pos: stretch) {
  -webkit-align-self: $pos;
  -moz-align-self: $pos;
  -ms-align-self: $pos;
  -o-align-self: $pos;
  align-self: $pos;
}
@mixin flexOrder($num) {
  -webkit-order: $num;
  -ms-order: $num;
  -moz-order: $num;
  -o-order: $num;
  order: $num;
}
@mixin totalCenter() {
  @include verticalCenter();
  @include flexJustify(center);
}

@mixin verticalCenter() {
  	@include flexbox();
  	@include flexAlign(center);
}
