
@import "../../common/mixins/layout";

.ot_sliderController {
    @include flexbox();
    @include flexJustify(space-between);
    @include flexAlign(stretch);
    list-style-type: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,.25);
    border-radius: 5px;
    background-color: white;
    padding-left: 0px;
    height:40px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0;
    left:-8px;
    width:101%;
    .disabled {
      opacity:.3;
    }
}
.slider {
  width:90%;
}

.leftArrow, .rightArrow{
  width: 5%;
  text-align: center;
}
.leftArrow:hover, .rightArrow:hover{
  cursor: pointer;
}
.leftArrow:before, .rightArrow:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.leftArrow i, .rightArrow i {
  background-color: rgb(255,255,255);
  font-color:#EEE;
  border-radius: 50%;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 2em;
}
.leftArrow i:active, .rightArrow i:active {
  font-size: 23px;
}
.ot_slider_controllerBtn {
  display:inline-block;
}
.patronCard {
  text-align: center;
  display:inline-block;
  vertical-align: middle;
  height: 25px;
  width:150px;
  padding-top:12px;
  font-family: helvetica;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &.selected {
    border-top: 2px solid #83bb01;
  }
  &:hover {
    cursor: pointer;
  }
}
.slider {
  overflow: hidden;
}
.updatedDonorValue {
  color: #336600;
  font-size: 11px !important;
}
.selectPatronMessage{
  text-align:center;
  background-color: white;
  padding:10px;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
}
