@import "../../common/mixins/layout";
@import "../../common/colors";
.selectPatronMessage {
  text-align: center;
  background-color: rgb(238, 238, 238);
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  position: absolute;
  width: 99%;
  bottom: 45%;
}
.patronSelectedCard {
  margin: 100px auto;

  width:800px;
  background-color: #fff;
  border-radius: 5px;
  font-family: helvetica;
  box-shadow: 0px 20px 150px rgba(0,0,0,.15)
}
.patronSelectedCard h1{
    margin: 0 0 0 0;
}
.patronSelectedCard h2{
    margin: 0 0 0 0;
    margin-top: 5px;
}
h3.patronInfoHeader{
  margin: 0 0 0 0;
  padding: 5 0 0 10;
  color:#183b64;
}
.patronCardSection {
  @include flexbox();
  @include flexJustify(space-between);
  @include flexAlign(stretch);
  height:100px;
  padding:10px;
  border-bottom:1px #CCC;
  border-bottom-style: solid;
}
.patronCardHeader {
  background-color: #183b64;
  width: 100%;
  height:100px;
  color:white;
}
.patronCardHeaderCell {
  display: inline-block;
  padding-top:20px;
  margin-left:10px;
  text-overflow: ellipsis;
  vertical-align: top;
  .patronCardHeaderCellRow1{
    font-size:12px;
  }
  .patronCardHeaderCellRow2{
    font-size:14px;
    font-weight:bold;
  }
}
.nameHeaderCell, .addressHeaderCell {
  width: 38%;
  padding-right:20px;
}
.phoneHeaderCell, .createDateHeaderCell {
  width: 10%;
}
.patronName {
  font-weight: bold;
  font-size: 1.5em;
  padding-left:10px;
}
.patronId {
  font-weight: bold;
  font-size: 1em;
  padding-left:10px;
}
.patronCardDataCell {
  display: inline-block;
  width: 25%;
  background-color: #fff;
  border-radius: 5px;
  text-overflow: ellipsis;
  div {
    padding-left:10px;
    padding-top: 5px;
    vertical-align: middle;
    color:#666;
  }
  .cardDataCellRow1 {
    color:#888;
    font-size:12px;
    font-family: helvetica;
  }
  .cardDataCellRow2 {
    font-size:14px;
    color:#666;
    font-weight: bold;
    font-family: helvetica;
  }
  .cardDataCellRow3 {
    color:#888;
    font-size:12px;
    font-family: helvetica;
  }
}
.buttons{
  text-align: center;
  margin-top:50px;
}
.actionSection {
  @include flexbox();
  @include flexJustify(space-between);
  @include flexAlign(stretch);
  button {
    width: 25%;
  }
}
.slider {
  overflow: hidden;
}
.donorStatusDropdown {
  border-radius: 2px;
  text-decoration: none;
  background-color: #82bf40;
  font-size: 11px !important;
  padding: 7px;
  color: #336600;
  font-weight: 600;
}
.donorStatusDropdown:focus {
  color: #fff;
  cursor: pointer;
  background-color: #336600;
}
.selectOption {
  font-weight: 600;
}
