@import "../mixins/layout";

.ot_commonFlexbox {
  @include flexbox();
  @include flexJustify();
  @include flexGrow();
  @include flexWrap();
}
.ot_verticalAlign {
  @extend .ot_commonFlexbox;
  @include flexAlign();
}
.ot_totalCenter {
  @extend .ot_verticalAlign;
  text-align: center;

}
