// $gray-lightest: #eee; => gray-light
// $gray-lighting: #ddd; => gray-light
//$gray-lighting2: #d0d0d0; // =>gray-mid-light
//$gray-lighter: #ccc;// =>gray-mid-light
//$gray-light: #aaa; // => gray
// $gray-dark-light: #888; // => gray
// $gray-dark-mid: #6e6e6e; // => gray-mid-dark
//$gray-dark:   #3e3e3e; // => gray-dark
// $gray-darker: #222; // => gray-dark

$gray-light: #eee;
$gray-mid-light: #ccc;
$gray: #888;
$gray-mid-dark: #666;
$gray-dark: #222;

// $gray-lighter: $gray-mid-light;
// $gray-darker: $gray-dark;


$sky-blue:  #e0f2ff;
$royal-blue:  #008cff; // not the same as the default css royal-blue -> buttons!
// $cerulean:  #0089ff; //0fc3fe; -> royal-blue
// $faded-sky-blue: #a8d8ff; //b0dbfe;
$red: #990000;
$orange: #f5a623;
$bright-green: #31b21c;
$black: #000;
$white: #fff;
$placeholder-gray: $gray;


$hidden-section: $sky-blue;
$font-color: $gray-dark;
$disabled: $gray-mid-light;
