@import "colors";

/** Override Library Variables ***/

$grid-columns: 24;
$fa-font-path: "~font-awesome/fonts" !default;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/" !default;
$navbar-padding-horizontal: 0;
$grid-gutter-width: 20px;
$page-background: $gray-light;
$body-bg: $page-background;
$padding-large-vertical: 16px;
$btn-font-weight: 700;
$panel-body-padding: 7px;
$step-spacing: 4rem;
$screen-xs-max: 767px; // mobile
$screen-sm-min: 768px; // tablet portrait
$screen-min: $screen-sm-min;
$screen-sm-max: 991px; // tablet portrait
$screen-md-min: 992px; // medium device
$screen-md-max: 1199px; //medium device
$screen-lg-min: 1200px; // desktop
$screen-max: 1080px;

// $screen-md-max: 991px;
$brand-primary: $royal-blue;
$tooltip-bg: $royal-blue;
$tooltip-arrow-color: $tooltip-bg;
$tooltip-opacity: 1;
$abbr-border-color: transparent;
$line-height-base: 1.6;
$btn-disabled-opacity:.3;

//Nav bar customizations

  $navbar-inverse-bg: $gray-dark !default;
  $navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

  $navbar-inverse-link-color: $white !default;
  $navbar-inverse-link-hover-color: lighten($navbar-inverse-link-color, 20%) !default;
  $navbar-inverse-link-active-color: $navbar-inverse-link-color ;

  $navbar-inverse-brand-color: $navbar-inverse-link-color !default;
  $navbar-inverse-brand-hover-color: $navbar-inverse-link-color !default;
  $navbar-inverse-color: $navbar-inverse-link-color;

  $navbar-inverse-link-disabled-color: $navbar-inverse-link-color;

  /*$navbar-inverse-toggle-border-color;
  $navbar-inverse-toggle-hover-bg;
  $navbar-inverse-toggle-icon-bar-bg;*/
$hero-background-color: $gray-light !default;
$logo-text-color: $black !default;
$logo-font: Helvetica !default;
//Footer
$footer-background: $navbar-inverse-bg !default;
$footer-color: $navbar-inverse-color !default;
$footer-min-height: 50px !default;

//font style definitions
$header-font: Helvetica !default;
$header-color: $font-color !default;
$text-color: $font-color !default;
$text-sub-header-color: $gray;

// bootstrap base font-size overrides

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.125)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.75)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.5)); // ~40px
$font-size-h2:            floor(($font-size-base * 2.25)); // ~36px
$font-size-h3:            floor(($font-size-base * 1.875)); // ~30px
$font-size-h4:            ceil(($font-size-base * 1.35)); // ~20px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.75)); // ~12px

$font-size-x-small:       ceil(($font-size-base * 0.70)); // ~12px

$font-size-base-mobile:          15px;
$font-size-large-mobile:         ceil(($font-size-base-mobile * 1.125)); // ~18px
$font-size-small-mobile:         ceil(($font-size-base-mobile * 0.75)); // ~12px

$font-size-h1-mobile:            floor(($font-size-base-mobile * 2.5)); // ~40px
$font-size-h2-mobile:            floor(($font-size-base-mobile * 2.25)); // ~36px
$font-size-h3-mobile:            floor(($font-size-base-mobile * 1.875)); // ~30px
$font-size-h4-mobile:            ceil(($font-size-base-mobile * 1.45)); // ~20px
$font-size-h5-mobile:            ($font-size-base-mobile + 1);
$font-size-h6-mobile:            ceil(($font-size-base-mobile * 0.75)); // ~12px

$font-size-x-small-mobile:       ceil(($font-size-base-mobile * 0.65)); // ~12px

$font-size-footer:               12px;


/*** CONSUMER_INTERFACE VARS ***/
$ticketCellPadding: 1.6rem;
$table-row-color: $gray; // $gray-light;
$even-row-color:  $white;
$odd-row-color:   $gray; // $gray-light;
$nav-z-index: 9999;

// button-colors
$button-color: $royal-blue !default;
$btn-tertiary-color: $white;
$btn-tertiary-bg: $bright-green; // #2dcf9c
$btn-tertiary-border: $bright-green; // #2dcf9c
$button-hover-color: $button-color;
$button-active-color: $button-color;
$btn-link-disabled-color: fade-out($button-color, .5);
$btn-cancel-bg: $gray-mid-dark;
$btn-cancel-color: $white;
$btn-group-active-color: lighten($royal-blue, .8); //faded-skyblue//this is not for the :active state
$btn-group-disabled-color: $royal-blue;
$btn-group-colon-active-color: $royal-blue;// $cerulean; //this is for the :active state of button group buttons
$btn-success-bg: $bright-green;

$btn-mobile-details-color: $black;
$btn-mobile-details-bg:$white;
$btn-mobile-details-border: $gray-mid-light;

//bootstrap buttons
$btn-primary-bg: $button-color;
$btn-primary-border: $button-color;
$btn-border-radius-base: 3px;
$btn-border-radius-large: 3px;
$btn-border-radius-small: 3px;

//button groups
$btn-group-border-radius: 3px;
$btn-group-height: 4.5rem;

$button-active-opacity: .3;

/**bootstrap form element overrides **/
$input-height-base: 45px;
$input-border: $gray-mid-light;
$input-border-radius: $btn-border-radius-base;
$input-color: $gray-dark;

// background-colors
$offset-bg-color: $gray-light;
$cart-bg-color: $white;
$overlay-color: $black;
$overlay-color: $white;
$overlay-opacity: .5;
$total-bar-bg: $gray-dark;

// borders
$sub-table-box-border: $gray-mid-light;
$border-radius-base: 0;

// tables
$table-header-bg: $white;
$table-header-color: $gray-dark;
$table-header-border-width: 0 0 1px;
$table-row-bg: $white;
$table-row-border-color: $gray-light;
$table-sub-row-color: $gray;

// panel
$desktop-element-spacing:   40px;
$panel-bg:                  $white;
$panel-body-padding:        1.5rem;
$panel-heading-padding:     1.5rem 1rem 0.5rem;
//$panel-heading-margin:      0 0 1rem;
$panel-footer-padding:      $panel-heading-padding;
$panel-border-radius:       $border-radius-base;
$panel-default-border:      $gray-mid-dark;
$panel-default-text:        $white;
$panel-default-heading-bg:  $gray-mid-dark;
$panel-default-border-width:0;
$panel-default-margin:      0;


$panel-3-bg: $white;
$panel-3-text-color: $black;
$panel-3-padding: 0;

$panel-4-border-width: 1px;
$panel-4-border: $sub-table-box-border;
$panel-4-margin: 1px;
$panel-4-bg: $white;
$panel-4-padding: 2rem;

$panel-5-margin: 1px 1px 0 1px;
$panel-5-bg: $table-row-bg;
$panel-5-color: $table-row-bg;
$panel-5-padding: 2rem;

$panel-6-padding: 2rem;
$panel-6-bg: $white;
$panel-6-margin: 3px;

$panel-7-padding: .42rem;
$panel-7-bg: $gray-dark;
$panel-7-text-color: $white;
$panel-7-margin: 0;

$subtable-top-border-width: 3px;
$subtable-top-border-color: $black;

/* modal variable overrides */
$modal-inner-padding:         15px;
$modal-title-padding:         15px;
$modal-content-bg:            $white ;
$modal-overlay-bg-color:      rgba($black,.8);
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,0) ;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          $gray;
$modal-backdrop-bg:           $black;
$modal-backdrop-opacity:      .8;
$modal-header-border-color:   $white;
$modal-footer-border-color:   $modal-header-border-color;
$modal-backdrop-z-index: ($nav-z-index + 1);
$modal-z-index: ($modal-backdrop-z-index + 1);

/* configuration for utility margin/padding classes */
// Default config values.
//  TODO: delete phone + tablet variables when sure that we're not going to need

// ====== Features ======

    // $scu-build-tablet-classes:              true;
    // $scu-build-phone-tablet-classes:        true;
    // $scu-build-phone-classes:               true;

// ====== Prefixes ======

    $scu-prefix:                            "ot_ci_";
    // $scu-prefix-tablet:                     "tab-";
    // $scu-prefix-phone-tablet:               "phn-tab-";
    // $scu-prefix-phone:                      "phn-";

// ====== !important ======

    $scu-use-important:                     true;
    $scu-paddings-use-important:            $scu-use-important;
    $scu-margins-use-important:             $scu-use-important;

// ====== Media Devices ======

    // $scu-desktop-min-width:                 980px;
    // $scu-tablet-min-width:                  768px;
    // $scu-tablet-max-width:                  979px;
    // $scu-phone-max-width:                   767px;

// ====== Paddings ======

    $scu-paddings:                          (0 5 10 15 20 25 30 35 40);
    $scu-paddings-vertical:                 $scu-paddings;
    $scu-paddings-horizontal:               $scu-paddings;

    // $scu-tablet-paddings:                   $scu-paddings;
    // $scu-tablet-paddings-vertical:          $scu-paddings-vertical;
    // $scu-tablet-paddings-horizontal:        $scu-paddings-horizontal;

    // $scu-phone-tablet-paddings:             $scu-paddings;
    // $scu-phone-tablet-paddings-vertical:    $scu-paddings-vertical;
    // $scu-phone-tablet-paddings-horizontal:  $scu-paddings-horizontal;

    // $scu-phone-paddings:                    $scu-paddings;
    // $scu-phone-paddings-vertical:           $scu-paddings-vertical;
    // $scu-phone-paddings-horizontal:         $scu-paddings-horizontal;

// ====== Margins ======

    $scu-margins:                           (0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 20 25 30 35 40);
    $scu-margins-vertical:                  $scu-margins;
    $scu-margins-horizontal:                $scu-margins;

    // $scu-tablet-margins:                    $scu-margins;
    // $scu-tablet-margins-vertical:           $scu-margins-vertical;
    // $scu-tablet-margins-horizontal:         $scu-margins-horizontal;

    // $scu-phone-tablet-margins:              $scu-margins;
    // $scu-phone-tablet-margins-vertical:     $scu-margins-vertical;
    // $scu-phone-tablet-margins-horizontal:   $scu-margins-horizontal;

    // $scu-phone-margins:                     $scu-margins;
    // $scu-phone-margins-vertical:            $scu-margins-vertical;
    // $scu-phone-margins-horizontal:          $scu-margins-horizontal;

// ====== Setting default variable values based on config. Do not edit unless you know what you are doing! ======

    $scu-val-important:                     if($scu-use-important, " !important", "");
    $scu-val-important-paddings:            if($scu-paddings-use-important, " !important", "");
    $scu-val-important-margins:             if($scu-margins-use-important, " !important", "");

    $scu-val-prefix:                        $scu-prefix;
    // $scu-val-prefix-tablet:                 $scu-val-prefix + $scu-prefix-tablet;
    // $scu-val-prefix-phone-tablet:           $scu-val-prefix + $scu-prefix-phone-tablet;
    // $scu-val-prefix-phone:                  $scu-val-prefix + $scu-prefix-phone;
