.btn-primary {
  background-color: blue;
  color:white;
  font-weight: bold;
  height:35px;
  border:1px solid blue;

}

.btn-donorCard{
  font-weight:bold;
  font-size:20px;
  height:50px;
  width:200px;
  color:white;
  padding:20px;
  margin:20px;
  border-radius:500px;
}
.btn-donorCard:hover{
  cursor:pointer;
}
.btn-donorCard-yes {
  background-color:#00dd52;
}
.btn-donorCard-maybe {
  background-color:orange;
}

.btn-donorCard-action{
  color:#4a90e2;
  padding:5px;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
}
.btn-donorCard-no{
  background-color:#ec3c3e;
}
