@import "../../customization/bootstrap_variables";

@mixin pulse($name, $max-opacity: 1, $min-opacity:0) {
  @keyframes #{$name} {
    0% {
      opacity: $min-opacity;
    }
    50% {
      opacity:$max-opacity;
    }
    100% {
      opacity: $min-opacity;
    }
  }
}
@include pulse('pulse-in-out');
.pulse-in-out {
  animation: pulse-in-out 2s infinite;
}
.ot_ci_slide {
  max-height: 0px; // closed byDefault
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.ot_ci_slide.ot_ci_open {
    max-height: 2000px;
    overflow: hidden;
}

/*  FadeIn */
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
  	100% {opacity: 1;}
  }
  @keyframes fadeIn {
    0% {opacity: 0;}
  	100% {opacity: 1;}
  }
  @mixin fadeIn($duration: 0.3s) {
    overflow: hidden;

    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: $duration;
    -webkit-animation-duration: $duration;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
  }
  .anime_fadeIn {
    @include fadeIn();
  }

/*  Shrink Y */
@-webkit-keyframes shrinkY {
  0% {
    max-height: 0px;
    opacity: 0;
  }
	100% {
    max-height: 2000px;
    opacity: 1;
  }
}
@keyframes shrinkY {
  100% {
    max-height: 0px;
    opacity: 0;
  }
	0% {
    max-height: 2000px;
    opacity: 1;
  }
}
@mixin shrinkY($duration: 0.5s) {
  animation-name: shrinkY;
  -webkit-animation-name: shrinkY;

  animation-duration: $duration;
  -webkit-animation-duration: $duration;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
.anime_shrinkY {
  overflow: hidden;
  @include shrinkY();
}

/*  Grow Y */
@-webkit-keyframes growY {
  0% {
    max-height: 0px;
    opacity: 0;
  }
	100% {
    max-height: 2000px;
    opacity: 1;
  }
}
@keyframes growY {
  0% {
    max-height: 0px;
    opacity: 0;
  }
	100% {
    max-height: 2000px;
    opacity: 1;
  }
}
@mixin growY($duration: 0.5s) {
  animation-name: growY;
  -webkit-animation-name: growY;

  animation-duration: $duration;
  -webkit-animation-duration: $duration;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
.anime_growY {
  overflow: hidden;
  max-height: 2000px;
  // @include growY();
}
/*  Slide Down */
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
    opacity: 1;
	}
}
@keyframes slideDown {
  0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}
}
@mixin slideDown($duration: 0.5s) {
  overflow: hidden;

  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: $duration;
  -webkit-animation-duration: $duration;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
}
.anime_slideDown {
  @include slideDown();
}
/* Shake animation */
@-webkit-keyframes shake_x {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(-10px);}
}
@keyframes shake_x {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(10px);}
    20%, 40%, 60%, 80% {transform: translateX(-10px);}
}
@mixin shake_x($duration: 0.2s) {
  animation-name: shake_x;
  -webkit-animation-name: shake_x;

  animation-duration: $duration;
  -webkit-animation-duration: $duration;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
.anime_shake_x {
  @include shake_x();
}
