/* Panel specific */
.panel-title > a {
  width: 100%;
  display: inline-block;
}
.panel-body {
  padding: 0 $panel-body-padding;
}
.panel {
  margin: 5px 0;
  background-color: transparent;
  border-width: 0;
  .panel-title a {
    color: $white;
  }
  .panel-title a:hover,
  a:focus {
    text-decoration: none;
  }
  .panel-title {
    padding: 0.75rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: $black;
  }
  .panel-heading {
    padding: 10px 5px 5px 0;
    margin-bottom: 0.5rem;
    background-color: $white;
    color: $black;
    font-size: 1.3rem;
    border: 0;
    a {
      color: $black;
    }
  }
}
.panel b {
  display: block;
}
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 700;
}
.tooltip {
  &[data-position=left] {
    left: 0 !important;
    white-space: nowrap;
  }
  &.visible-xs {
    font-size: $font-size-base-mobile;
  }
  &.hidden-xs {
    font-size: $font-size-base;
  }
}
.text-justify {
  text-align: justify;
}
.float-left {
  float:left;
}
@media (max-width: $screen-xs-max) {
	.text-center-mobile {
    text-align: center;
  }
}
