.btn {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity($btn-disabled-opacity);
 }
 &.selected:hover {
   cursor: default;
 }
}

.btn-details {
	@extend .btn-primary;
	@extend .fa;
	@extend .fa-lg;
	@extend .fa-info-circle;
	padding: 0.4rem;
}

.ot_ci_mobile_button {
	margin: 5px 0px;
}
.btn.btn-ot-mobile-details {
  @include button-variant($btn-mobile-details-color, $btn-mobile-details-bg, $btn-mobile-details-border);
 		margin-top : 0.8rem;
 	  min-height: 5rem;
 	  text-align: center;
 	  align-content: center;
}

.ot_ci_expander {
	@extend .fa;
	@extend .fa-lg;
  @extend .ot_ci_clickable;
	margin-top: 3;
	&.ot_ci_expanded {
		@extend .fa-times;
		color: $white;
	}
	&.ot_ci_collapsed {
		@extend .fa-plus;
	}
}

.btn.btn-primary:disabled,
.btn.btn-primary.isDisabled {
	cursor: default;
	background-color: $btn-link-disabled-color;
	border-color: $btn-link-disabled-color;
	&:hover {
		background-color: $btn-link-disabled-color;
		border-color: $btn-link-disabled-color;
	}
}

// these rules are needed b/c all button corners' radius is set to 0
//  with the bootstrap override variable
.btn-group {

	.btn.btn-primary:first-child {
    border-bottom-left-radius: $btn-group-border-radius;
    border-top-left-radius: $btn-group-border-radius;
  }
	.btn.btn-primary:last-child {
    border-bottom-right-radius: $btn-group-border-radius;
    border-top-right-radius: $btn-group-border-radius;
	}

	.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
	}
  .btn-primary.active:not(.active){
    background-color: rgba($button-color,$button-active-opacity) !important;
    border-color: rgba($button-color,$button-active-opacity) !important;
    color: $btn-primary-color !important;
    font-weight:normal;
    &:hover {
      background-color: rgba($button-color,$button-active-opacity) !important;
      border-color: rgba($button-color,$button-active-opacity) !important;
      color: $btn-primary-color !important;
    }
  }
}


// this rule is specifically for buttons that are using the i18n
//  component for their label because it adds a span, which
//  blocks the real button value attribute from being tranferred
.btn span,
.make_i18n_span_unclickable span {
	pointer-events: none;
}

.ot_ci_buttonContainer {
  position: relative;
  float: left;
  .ot_ci_checkoutButtonScreen,
  .ot_ci_masterpassScreen {
    display: block;
    position: absolute;
    top: 0;
    left: 1rem;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .ot_ci_masterpassScreen {
    width: 17.75rem;
	}
}
// mobile
@media (max-width: $screen-min) {
	.ot_ci_mobile_secondary_button {
			@include flexbox();
      @include flexJustify(center);
      @include flexAlign(center);
		    border: 1px solid $gray-mid-light;
		    height: 6rem;
		    text-decoration: none;
		    text-align: center;
		    font-size: 1.6rem;
		    font-weight: 700;
		    background-color: white;
		    color: $royal-blue;
	}
	.ot_ci_mobile_secondary_button a, a:hover {
		text-decoration: none;
	}
}

.btn-tertiary {
  @include button-variant($btn-tertiary-color, $btn-tertiary-bg, $btn-tertiary-border);
}

.btn-default-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-default {
  @include button-variant($gray-dark, $btn-default-bg, $btn-default-border);
  &.selected {
    @include button-variant($white, $gray-dark, $gray-dark);
  }
}
// buttons with loading icon (or any other icon)
// included on it
.ot_ci_btn_has_icon {
  position: relative;
  i {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.75em;
  }
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}

// handles response display of buttons
// mobile: displays on column desktop: side by side
.ot_ci_btn_container {
  @include flexbox();
  @include flexWrap();
}

@media (max-width: $screen-xs-max) {
  .ot_ci_btn_container {
    @include flexDirection(column);
  }
}
.ot_ci_btn_cenered {
  //IMPORTANT: Parent must be text-align: center
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.continue_button {
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}
