.ot_ci_card {
  border-width: $panel-4-border-width;
  border-style:solid;
  border-color: $panel-4-border;
  padding-top: $panel-4-padding / 2;
  padding-bottom: $panel-4-padding / 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ot_ci_panel1 {
  @include ot-container();
  & *{
    @extend .h4
  }
}

.ot_ci_panel2 {
  @include ot-container();
  @include ot-h2();
}

.ot_ci_panel3 {
  @include ot-container($panel-3-bg, $panel-3-text-color, $panel-default-border-width,$panel-default-border,$panel-3-padding);
}

.ot_ci_panel4 {
  @include ot-h5();
  @include ot-container($panel-4-bg, $text-color, $panel-4-border-width,$panel-4-border,$panel-4-padding,$panel-4-margin);
}

.ot_ci_panel5 {
  @include ot-container($panel-5-bg, $text-color, $panel-default-border-width,$panel-default-border,$panel-5-padding,$panel-5-margin);
}

.ot_ci_panel6 {
  @include ot-container($panel-6-bg, $text-color, $panel-default-border-width,$panel-default-border,$panel-6-padding,$panel-6-margin);
}

.ot_ci_contentPanel {
  @include ot-container($panel-4-bg, $text-color, $panel-4-border-width,$panel-4-bg,2rem,0);
  // below needed so navbar isn't over cart contents
  .hidden-xs & {
    padding-top: 5rem;
  }
}

.ot_ci_convenience_fee_item {
  color: $table-sub-row-color;
  .col-xs-2 {
    padding-right: .5rem;
  }
}

.ot_ci_statusPanel {
  @extend .ot_ci_clickable;
  @include ot-container($panel-7-bg, $panel-7-text-color, $panel-default-border-width,$panel-default-border,$panel-7-padding,$panel-7-margin);
  font-size: $font-size-h6;
  display: block;
  z-index:($nav-z-index - 4);
  position: relative;
  padding-left: .6rem;
  padding-right: .7rem;
  padding-top: .4rem;
  padding-bottom: .3rem;
  //font-size: 11px;
  width:2.1rem;
  margin-left: 40%;
  overflow: hidden;
  -webkit-transition: all .125s; /* For Safari 3.1 to 6.0 */
  transition: all .125s;
  i {
      opacity: 0;
      transition: all .25s;
      font-style: normal;
  }
  &:hover {
    width: 7.1rem;
    i {
      opacity: 1;
    }
  }
}
.panel-title {
  a {
    .ot_ci_expanderPanelIcon {
      display: none;
      @extend .fa;
      @extend .fa-minus-circle;
    }
  }
  a.collapsed {
    .ot_ci_expanderPanelIcon {
      @extend .fa;
      @extend .fa-plus-circle;
    }
  }
}

.ot_ci_hiddenSection {
  @include ot-container($hidden-section);
  margin: 1px;
  padding:10px;
}

.ot_ci_grouped {
  border-left:5px solid $btn-primary-bg;
  margin: 15px 0px;
}

.ot_ci_no_padding {
  @extend .container-fluid;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ot_ci_no_margin {
  @extend .container-fluid;
  margin-left:0;
  margin-right:0;
}
.ot_ci_desktopContainer {
  margin-top: ($desktop-element-spacing / 2);
  margin-bottom: ($desktop-element-spacing / 2 );
}

.ot_ci_offsetBlock {
  background-color: $sky-blue;
  width: 100%;
  padding: 4rem;
  margin: 1.6rem 0 2rem;
}
.ot_ci_transition {
  overflow: hidden;
  -webkit-transition: all 500ms cubic-bezier(0.380, 0.035, 0.455, 0.940);
     -moz-transition: all 500ms cubic-bezier(0.380, 0.035, 0.455, 0.940);
       -o-transition: all 500ms cubic-bezier(0.380, 0.035, 0.455, 0.940);
          transition: all 500ms cubic-bezier(0.380, 0.035, 0.455, 0.940);

  -webkit-transition-timing-function: cubic-bezier(0.380, 0.035, 0.455, 0.940);
     -moz-transition-timing-function: cubic-bezier(0.380, 0.035, 0.455, 0.940);
       -o-transition-timing-function: cubic-bezier(0.380, 0.035, 0.455, 0.940);
          transition-timing-function: cubic-bezier(0.380, 0.035, 0.455, 0.940);

  &.shrink {
    height: 0 !important;
    padding: 0;
    margin: 0;
  }
  &.expand {
    //height: 800px;
  }
}

.ot_ci_total, .ot_ci_subtotal {
  p {
    margin: 0;
  }
}

// only putting this here temporarily
/* TODO: move to Tom's components.scss when it is merged */
// TODO: change ot_ci_itemRow class to new name of class, to come w tom's changes (possibly panel-4)
// name
.ot_ci_itemRow, .ot_ci_panel4 {
  .btn-primary {
    float: right;
  }
  .ot_ci_hiddenSection {
    position: relative;

    .btn-primary {
      margin: 1.25rem 1rem 1rem;
    }

    .btn-close.close-btn-top-right {
      position: absolute;
      top: -1.5rem;
      right: -0.5rem;
      // TODO: use (or set)variable red color
      color: $red; // #900;
      font-size: 3rem;
    }
  }
}
// end move to components.scss
.ot_ci_txt_toggleContainer {
  transition: all 0.3s ease-in-out;
}
.ot_ci_txt_toggleTrigger {
  float: right;
  font-size: $font-size-small;
  font-style: italic;
  color: $gray-mid-light;
  cursor: pointer;
  line-height: 24px;
}
