/* fonts.scss */
// include things like general font sizes (h1, p, etc), font face, font imports,

// webfonts

  body {
    font-family: Helvetica, sans-serif;
    font-size: $font-size-base-mobile;
  };

@mixin ot-h1 { font-size: $font-size-h1; font-weight: 700; }
@mixin ot-h2 { font-size: $font-size-h2; font-weight: 700; }
@mixin ot-h3 { font-size: $font-size-h3; font-weight: 700; }
@mixin ot-h4 { font-size: $font-size-h4; font-weight: 700;}
@mixin ot-h5 { font-size: $font-size-h5; font-weight: 700; }
@mixin ot-h6 { font-size: $font-size-h6; font-weight: 700; }

@mixin ot-h1-mobile { font-size: $font-size-h1-mobile; font-weight: 700; }
@mixin ot-h2-mobile { font-size: $font-size-h2-mobile; font-weight: 700; }
@mixin ot-h3-mobile { font-size: $font-size-h3-mobile; font-weight: 700; }
@mixin ot-h4-mobile { font-size: $font-size-h4-mobile; font-weight: 700;}
@mixin ot-h5-mobile { font-size: $font-size-h5-mobile; font-weight: 700; }
@mixin ot-h6-mobile { font-size: $font-size-h6-mobile; font-weight: 700; }


h1, .h1 { font-size: $font-size-h1-mobile; font-weight: 700; color:$header-color }
h2, .h2 { font-size: $font-size-h2-mobile; font-weight: 700; color:$header-color}
h3, .h3 { font-size: $font-size-h3-mobile; font-weight: 700; color:$header-color}
h4, .h4 { font-size: $font-size-h4-mobile; font-weight: 700; color:$header-color}
h5, .h5 { font-size: $font-size-h5-mobile; font-weight: 700; color:$header-color}
h6, .h6 { font-size: $font-size-h6-mobile; font-weight: 700; color:$header-color}
.h7 {
  font-weight: normal;
  font-style: italic;
  color:$header-color;
}
.font-xx-lg { font-size: $font-size-h1-mobile; }
.font-x-lg { font-size: $font-size-h2-mobile; }
.font-lg { font-size: $font-size-h3-mobile; }
.font-sm { font-size: $font-size-h4-mobile; }
.font-x-sm { font-size: $font-size-h5-mobile;}
.font-xx-sm { font-size: $font-size-h6-mobile; }
.text-x-small {
  font-size: $font-size-x-small-mobile;
}
.ot_ci_footer {
  font-size: $font-size-footer;
}

.media-heading {
  font-size: $font-size-h3-mobile;
  color:$header-color;
  line-height: 37px;
}
.text-normal {
  font-weight: normal;
  font-size: $font-size-base-mobile;
}
.text-heading {
  color: $header-color !important
}
.text-sub-heading {
  color: $text-sub-header-color;
}
// find a remcalc mixin to use since bootstrap does not have it's own
@media (min-width: $screen-sm-min) {
    body {
      font-size: $font-size-base;
    };
  h1, .h1 { font-size: $font-size-h1; font-weight: 700; }
  h2, .h2 { font-size: $font-size-h2; font-weight: 700; }
  h3, .h3 { font-size: $font-size-h3; font-weight: 700; }
  h4, .h4 { font-size: $font-size-h4; font-weight: 700;}
  h5, .h5 { font-size: $font-size-h5; font-weight: 700; }
  h6, .h6 { font-size: $font-size-h6; font-weight: 700; }

  .font-xx-lg { font-size: $font-size-h1; }
  .font-x-lg { font-size: $font-size-h2; }
  .font-lg { font-size: $font-size-h3; }
  .font-sm { font-size: $font-size-h4; }
  .font-x-sm { font-size: $font-size-h5;}
  .font-xx-sm { font-size: $font-size-h6; }
  .media-heading {
    font-size: $font-size-h3;
    color:$header-color;
  }
  .text-x-small {
    font-size: $font-size-x-small;
  }
  .text-normal {
    font-weight: normal;
    font-size: $font-size-base;
  }
}
//////////////////////

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0px;
}

.ot_ci_title {
  font-weight: lighter;
  // margin-top: 0px;
  // mobile
  @media (max-width: $screen-xs-max) {
    font-size: 20px;
    line-height: 1em;
  }
  // desktop
  @media (min-width: $screen-sm-min) {
    font-size: 30px;
    line-height: 1.2em;
  }
}
.ot_ci_subtitle {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.04em;
}
.ot_ci_btnFootNote {
  font-size: 12px;
}
.ot_ci_noteSm {
  font-weight: lighter;
  letter-spacing: 0.04em;
  // mobile
  @media (max-width: $screen-xs-max) {
    font-size: 12px;
  }
  // desktop
  @media (min-width: $screen-sm-min) {
    font-size: 14px;
  }
}
