
/* form.scss */
// generic  and bootstrap override form field styles
	.ot_ci_form {
		margin: 0;
	}

// DO NOT DELETE.  this is style reset for chrome on macs!!!
select.form-control {
	width: 100%;
	border-radius: 0px;
	border: none;
	outline: 1px solid $input-border;
	background-color: $white;
	-webkit-box-shadow: none;
	box-shadow: none;
	&:focus {
		outline: 1px solid $input-border;
		outline-offset: 0px;
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.form-control.small {
	height: $input-height-base / 2;
	font-size: .8 * $font-size-base ;
	padding: 0;

}
.ot_ci_input {
	line-height: 3.2rem;
    border: 1px solid $input-border;
    border-radius: 3px;
}
.ot_ci_errorLabel {
	min-height: 25px;
	display: inline-block;
}
.ot_ci_form-fixed {
	.form-group {
		min-height: 70px;
		margin-bottom: 7px;
	}
	.ot_ci_error-msg {
		display: block;
		min-height: 25px;
		padding-left: 0px;
		margin-bottom: 0px;
		font-size: 14px;
		font-weight: normal;
		label {
			font-weight: normal;
			margin-bottom: 0px;
		}
	}
}

.ot_ci_mobileSelector {
	@media (max-width: $screen-xs-max) {
		font-size: 16px;
	}
}

.ot_ci_input_error {
	border-color: $state-danger-text !important;
}

.ot_ci_input_success {
	border-color: $state-success-text !important;
}
