/* icons.scss */
// icons
@mixin icon-circle($size) {
    @include flexbox();
    @include flexJustify(center);
    @include flexAlign(center);
    width: $size+1;
    height: $size;
    border-radius: 50%;
    i {
      text-align: center;
    }
}
