@import "../variables";
@import "../mixins/common";
@import "../mixins/layout";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/***CONTAINERS***/

.ot_mainHero {
	position: relative;
	@media print {
  	padding-top: 0px;
	}
}

.main.container {
	padding-left: 0px;
	padding-right: 0px;
}


.ot_mainBlurb {
	position: relative;
	background: $white;
	// mobile
	@media  (max-width: $screen-xs-max) {
		min-height: calc(100vh - 100px);
	}
	// desktop
	@media (min-width: $screen-sm-min) {
		min-height: calc(100vh - 325px);
	}

}
.checkoutContent {
    background: $white;
		min-height: 80vh;
    padding: 15px 15px 0px 15px;
		transition: height 0.3s ease-in-out;
    .ot_ci_contentPanel:first-of-type {
      padding-top: 0;
      margin-top: -1rem
    }
 }
 .ot_ci_hidden {
	 display:none !important;
 }
 .ot_ci_full_width {
	 display: block;
	 width:100%;
 }
 .ot_ci_layer_1 {
	 z-index: 1;
	 position:absolute;
 }
.ot_ci_header_image {
	max-height: 150px;
	overflow-y: hidden;
}
.ot_ci_headerImage_src {
	max-width: 1050px;
}
.ot_ci_full_width {
	width : 100%;
}
.ot_ci_detailsView {
  @extend .ot_ci_hiddenSection;
  color: $gray-dark;
  margin:3px 0px 0px 0px;
}

.ot_ci_overflowElipsis {
  position:relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.ot_ci_panelItem {
  background-color: $panel-bg;
  margin: 3px 0px 0px 0px;
  padding: 15px 15px;
}
.ot_ci_paddedItemRow {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* layout.scss */
// styles for sections(border, padding, margin, etc), header/footer (possibly)
.ot_ci_cartTotalDiv{
    background-color: $total-bar-bg;
    margin-bottom: 2rem;
}
.ot_ci_mobileCartSubHead {
  @extend .header;
  background-color: $white;
}
.ot_ci_ticketTypeRow {
  border-bottom: 1px solid $table-row-border-color;
  margin-left: 0;
}

/* table styles */

.ot_ci_cartTotalDiv {
    width: 100%;
		@include flexbox();
	  @include flexAlign(center);
    p {
      margin: 0;
    }
}
.ot_ci_subTotal {
  font-weight: 700;
}

.ot_ci_verticalCenter {
	display: -webkit-box !important;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box !important;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox !important;      /* TWEENER - IE 10 */
  display: -webkit-flex !important;     /* NEW - Chrome */
  display: flex !important;
	-webkit-align-items: center !important;
  -ms-align-items: center !important;
  align-items: center !important;
	&.text-center {
		-webkit-justify-content: center !important;
	  -moz-justify-content: center !important;
	  -ms-justify-content: center !important;
	  -o-justify-content: center !important;
	  justify-content: center !important;
	}
  &.ot_ci_flexSpread {
		-webkit-justify-content: space-between !important;
	  -moz-justify-content: space-between !important;
	  -ms-justify-content: space-between !important;
	  -o-justify-content: space-between !important;
	  justify-content: space-between !important;
  }
}
@media (min-width: $screen-xs-max) {
	.ot_ci_verticalCenter_desktop {
		@include flexbox();
	  @include flexAlign(center);
    &.ot_ci_flexSpread {
		  @include flexJustify(space-between);
    }
	}
}
@media (max-width: $screen-xs-max) {
	.ot_ci_verticalCenter_mobile {
		@include flexbox();
	  @include flexAlign(center);
    &.ot_ci_flexSpread {
		  @include flexJustify(space-between);
    }
	}
}

.ot_ci_quantity {
	font-size: small;
	color: $white;
}
.ot_ci_relative {
	position: relative;
}

@media screen {
  .print-only {
    display:none;
  }
  @media  (max-width: $screen-xs-max) {
    .mobile-rotate {
        @include transform-origin(left center);
        -webkit-transform: rotate(90deg) translateX(-80px);
           -moz-transform: rotate(90deg) translateX(-80px);
             -o-transform: rotate(90deg) translateX(-80px);
                transform: rotate(90deg) translateX(-80px);
        position: relative;
        left: 50%;
        margin-bottom: 650px;
        min-width: 840px;
    }
  }
}

.ot_ci_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ot_ci_clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.ot_ci_desktop {
  .ot_ci_ticketTypeCell.ot_ci_ellipsis,
  .ot_ci_section_cell.ot_ci_ellipsis {
    white-space: normal;
    overflow: hidden;
  }
}

//TODO: wanted to put this in _delivery_method.scss but it wasn't picking it up.
//  and I didn't have time to figure out why.
// delivery method error tooltip
.ot_ci_deliveryMethodContainer {
  position: relative;
  .tooltip {
    position: absolute;
    top: 5.5rem;
    left: 33rem;
  }
}
//This was to fix error on IE
.ot_ci_select {
	display: inline-block;
}

.ot_ci_noBorder {
	border-width:0px !important;
}
.ot_ci_disabled {
	color: $disabled;
}
.ot_ci_soldOut {
    border: 1px solid $gray-mid-light;
    text-align: center;
    font-size: 12px;
    padding: 1px;
}
.ot_ci_mAuto {
  margin-left: auto;
  margin-right: auto;
}
.ot_ci_flexButtonsFS { // each child must have a width and margin right in %
  @include flexbox();
  // mobile
  @media  (max-width: $screen-xs-max) {
    @include flexDirection(column);
    > * {
      margin-bottom: 20px;
    }
  }
  // desktop
  @media (min-width: $screen-sm-min) {

    @include flexJustify(flex-start);
    @include flexAlign(center);
    @include flexWrap();
    > *:last-child {
      margin-right: 0px;
    }
  }
}

.ot_ci_flexButtonsSB { // each child must have a fixed width
  @include flexbox();
  // mobile
  @media  (max-width: $screen-xs-max) {
    @include flexDirection(column);
    > * ,
    > .btn.btn-primary {
      margin-bottom: 20px;
    }
  }
  // desktop
  @media (min-width: $screen-sm-min) {
    @include flexJustify(space-between);
    @include flexAlign(center);
    @include flexWrap();
    > *,
    > .btn.btn-primary {
      width: 48%;
    }
  }
}
