/* media.scss */
// media queries go here

.main {
  width: 100%;
}
.ot_ci_organizationName a{
  // padding-left:10px;
  // padding-right:10px;
  // z-index: 120;
	// position: absolute;
	// top: -72px;
	// display: flex;
	// align-items: flex-start;
	// background-color: transparent !important;
}

@media (min-width: $screen-max) {
  .main {
    width: $screen-max;
    margin-left: auto;
    margin-right: auto;
  }
  .ot_ci_organizationName a{
    padding-left:0px;
    padding-right:0px;
  }
  .ot_ci_checkoutNav {
    max-width: $screen-max;
    .affix-top {
      margin-top: 20px;
    }
  }
}
//mobile
@media (max-width: $screen-xs-max) {
	.ot_ci_mobile_margin {
		margin-bottom : 15px;
	}
  // .ot_ci_checkoutNav_mobile.affix-top {
  //   padding-left: 15px;
  //   padding-right: 15px;
  // }
}

@media (max-width: $screen-xs-max) {
  // mobile override button styles
  .ot_ci_mobileCartButton.ot_ci_buttonContainer.ot_ci_ml-10 {
    margin-left: 0 !important;
  }
  .ot_ci_cartTickets:first-of-type {
    padding-top: 0;
  }
  .ot_ci_deliveryMethodContainer {
    .tooltip {
      top: 77%;
      left: 5%;
      .tooltip-arrow {
        top: 0 !important;
      }
    }
  }

  .ot_ci_mobileCartSubHead .col-xs-5.text-right {
    padding-right: 0;
  }
  .ot_ci_mobileView {
    .ot_ci_ticketTypeRow {
      margin-right: 0;
      font-size: 1.3rem;
      &.ot_ci_paddedRow.ot_ci_mobile.row span {
        padding: 0 .5rem 0 0;
        .ot_ci_section_cell {
          padding: 0 .75rem;
        }
      }
    }
  }
  .ot_ci_convenience_fee_item {
    .col-xs-18 {
      padding-left: 2rem;
      // what
    }
  }
	.ot_ci_offsetBlock {
		padding: 1.5rem;
	}
  .panel .panel-title {
    padding: 0.75rem 0.75rem 0.75rem 0;
  }
  // cart mobile styles
  .ot_ci_buttonContainer {
    width: 100%;
    text-align: center;
    button {
      margin: 0 auto;
      width: 100%;
    }
  }
  .ot_ci_ticketTableContainer {
    padding: 0 1rem;
    .ot_ci_ticketTable_date {
      padding-left: 10px !important;
    }
  }
  #step_3, #step_5,
  .ot_ci_reviewOrder .panel-heading,
  .ot_ci_reviewOrder .ot_ci_paymentInfo {
    padding: 0;
  }
  #step_6 .ot_ci_label {
    padding-left: 1rem;
  }
  #step_4 .h3 {
    font-size: 2rem;
  }
  .ot_ci_reviewOrder {
    .button_container span.ot_ci_loadingSpinner {
      &.fa-spinner {
        text-align: center;
        &.visible-xs h1 {
          display: none;
        }
      }
    }
    .ot_ci_rowGroup {
      margin-right: 0;
    }

   .ot_ci_form.container-fluid {
      margin: 0 -1rem;
    }
    .ot_ci_convenience_fee_item {
      .col-xs-18 {
        padding-left: 2rem
      }
      .col-xs-6.text-right {
        padding-right: 2rem;
      }
    }
    .ot_ci_rowGroup.ot_ci_mr-10 {
      margin-right: 0 !important;
    }
  }
  .ot_ci_subTotal {
    .col-xs-24.text-right {
      padding: 0;
    }
  }

  .ot_ci_labelContainer {
    margin-bottom: 4rem;
  }
  // payment info mobile specific
  .ot_ci_paymentInfo {
    padding-bottom: 10rem;

  }
  // review order specific
  // #view_receipt_view h4 {
  //   text-align: center;
  // }
  .ot_ci_deliveryMethod {
    .col-xs-6.text-right.ot_ci_pr-10 {
      padding-right: 0 !important;
    }
    a.visible-xs {
      // important needed to override bootstrap style
      display: inline-block !important;
    }
  }

  .panel {
    .panel-heading {
      padding: 2rem 0 0;
      margin-left: 0;
      color: $gray-mid-dark;
    }
  }

  .ot_ci_panelItem {
    border-bottom: 1px solid $table-row-border-color;
  }

  //receipt view specific
  #view_receipt_view {
    .ot_ci_total.ot_ci_panel3 {
      padding: 1rem 1rem 3rem;
    }
  }

  a.visible-xs {
    display: inline-block !important;
  }
}

//desktop specific styles
@media (min-width: $screen-min+1) {
  // buttons
  .btn-lg {
    min-width: 40rem;
    .ot_ci_recurringFrequency & {
      min-width: initial;
    }
  }

  // cart table desktop specific

  //checkout nav - this is needed for scroll behavior, which checks for visibility of this element to determine scroll offset
  .ot_ci_checkoutNav_mobile_outer {
    display: none;
  }
  .ot_ci_checkoutNav:not(.affix) .nav-pills > li:last-of-type {
    padding-right: 0;
  }
  .ot_ci_checkoutNav .navbar-nav {
    padding-right: 0;
  }

  .ot_ci_checkoutNav {
    padding-top: 2rem;
    .affix {
      padding-right: 1rem;
    }
}

  .ot_ci_header_image {
    padding: 0 0 2rem 1rem;
    max-width: 104rem;
  }


  // payment info
  #paymentInfo {
    .ot_ci_pi-form-level1 {
      .tooltip {
        top: -5rem;
        right: -6.5rem;
        width: 16rem;
      }
    }
  }
  //review order
  .ot_ci_reviewOrder {
    .button_container span.ot_ci_loadingSpinner {
      left: 0 !important;
      top: -4.5rem !important;
      width: 40rem !important;
      .fa-spinner {
        left: 41rem !important;
        top: 1.5rem !important;
      }
    }
  }

  #delivery_method_viewDesktop {
    margin: auto 1rem;
  }
  .ot_ci_clip, .ot_ci_ellipsis {
    &.ot_ci_ticketTypeCell, &.ot_ci_section_cell {
      white-space: normal;
    }
  }
}

.ot_ci_promotion {
	background-color: $gray-mid-light;
	padding: 1px;
    border-radius: 2px;
    text-align: center;
}
@media (max-width: $screen-xs-max) {
	.ot_ci_promotion {
		background-color: transparent;
		font-size: 12px;
		color: $gray-mid-light;
	}
}

.ot_ci_recurringFrequency {
  // mobile
  @media (max-width: $screen-xs-max) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
