
/* modal styles */
.modal-header {
	border-bottom-color: $gray-light;
}
.modal-dialog .modal-content .modal-footer {
	text-align: right;
	padding: 15px 15px 15px;
}
.modal-body {
	border-bottom: 1px solid $gray-light;
}
.modal-footer {
	& .btn-default {
		border-radius: 4px 4px 4px 4px;
	}
}
.modal-backdrop {
  z-index: $modal-backdrop-z-index;
}
.ot_ci_relativeBackdropParent {
  position:relative;
  z-index: ($nav-z-index - 10);
}
.ot_ci_relativeBackdrop {
  @extend .modal-backdrop;
  &.out {
    display: none;
  }
  &.in {
    display:block;
  }
  z-index: ($nav-z-index - 10);
  //position: absolute;
  padding: 0;
  margin:0;
}
.ot_ci_backdropExposed {
  z-index: ($nav-z-index - 5);
  position:relative;
}
.modal {
    z-index: $modal-z-index;
		background-color: $modal-overlay-bg-color;
}
.modal-dialog {
  .modal-content {
  	border-radius: $btn-border-radius-large;
    .modal-body .btn {
        margin-bottom: .5rem;
        display: block;
    }
    .btn.btn-primary, .btn.btn-close {
      width: 100%;
    }
    .modal-footer {
      text-align: center;
      padding: 0 15px 15px;

      .btn-close {
        background: $btn-cancel-bg;
        color: $btn-cancel-color;
				border-color: $btn-cancel-bg;
      }
    }
  }
}
