/* navbar.scss */
// navbar styles, duh
//TODO: use variables instead of handcoded values

// this prevents the page below the mobile nav overlay from scrolling when mobile nav is open
#main {
  overflow: auto;
  @media (max-width: $screen-xs-max) {
    width: 100vw;
    overflow-x: hidden;
  }
  .navbar {
    border: none;
    margin-bottom: 0px;
  }
 }

 #mainNavbar {
     z-index: 5000;
 }

// Checkout Nav
//=====================================
.ot_ci_checkoutNav,
.ot_ci_checkoutNav_mobile {
	text-align: center;
  	&.navbar-inverse {
    	background-color: $white;
      border-width: 0;
	}
}

.ot_ci_checkoutNav {
  &.affix {
    top:0;
    width:100%;
    opacity:1;
    z-index:$nav-z-index;
    max-width: 1050px; // todo: use variable for width
    position: fixed;
    text-align: center;
    margin: 0 auto;
  }
  &.navbar {
    border: 1px solid transparent;
    padding-bottom: 2rem;
  }
}

.ot_ci_checkoutNav_mobile {
  background-color: $white;
  &.affix {
    top:0;
    width:100%;
    opacity:1;
    z-index:$nav-z-index;
    position: fixed;
    text-align: center;
    margin: 0 auto;
    left: 0;
  }
  .ot_ci_stepName {
    display: none;
  }
  .ot_ci_stepStatus {
    display: block;
  }
  .active {
    background-color: $gray-dark; //$gray-darker
    border-radius: 40px;
    color: $white;
    min-height: 2.5rem;
    @include flexbox();
    @include flexAlign(center);
    padding: 0 .75rem;
    .ot_ci_stepName {
      display: block;
    }
    .ot_ci_stepStatus {
      display: none;
    }
  }
  .passed {
    .ot_ci_stepName {
      display: none;
    }
    .ot_ci_stepStatus {
      display: block;
    }
    &.active {
      whitespace: nowrap;
      .ot_ci_stepName {
        display: block;
      }
      .ot_ci_stepStatus {
        display: none;
      }
    }
  }
  .navbar-nav {
    @include flexbox();
    @include flexWrap();
    @include flexJustify(space-between);
    margin: 10px auto;
    padding: 0 10px;
  }
  .nav-pills > li {
    font-size: 1.4rem;
    &.active:not(.passed) > a {
      background-color: $gray-dark;
      color: #fff;
      height: 2.75rem;
      padding: 0 .75rem;
      @include flexbox();
      @include flexAlign(center);
      .fa-exclamation-circle {
        color: $red;
      }
    }
    // mobile shouldn't have hover so this is just for small screens
    &.active:hover, &.active a:hover{
      background-color: $gray-dark !important;  //$gray-darker!important;
    }
    > a {
      background-color: transparent;
      border-radius: 4rem;
      padding: 0;
      i {
        width: 3.1rem;
      }
      .fa-check-circle {
        color: $gray; // $gray-light;
      }
      .fa-exclamation-circle {
        color: $red;
      }
      .fa-circle-thin {
        font-weight: bold;
        :hover {
          color: $gray; // $gray-light;
        }
      }
    }
  }
}

#checkoutNav .ot_ci_checkoutNav .navbar-nav > li {
  float: left;
	background-color: $white;
	display: block;
  position: relative;
    &:first-child {
      padding-left: 0px !important;
    }
    &.active {
    	color: #fff !important;
      a {
      	background-color: $gray-dark !important; //$gray-darker
      	border: 4px solid $gray-dark !important; //$gray-darker
      	color: #fff !important;
      }
    }
    &.passed a {
    	border: 4px solid $gray-mid-dark;
    	color: $gray-mid-dark;
    }
    &:not(.passed) > a {
      cursor: default;
      pointer-events: none;
    }
    //tablet
    @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding-left: 6px;
      padding-right: 6px;
    }
}

.ot_ci_checkoutNav .navbar-nav > li + li {
    margin-left: 0;
}

.ot_ci_checkoutNav .navbar-nav > li > a {
    display: block;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    color: $gray-mid-light;
    border: 4px solid $gray-light;
    background-color: $gray-light;
    font-weight: bold;
    text-align: center;
    &:hover {
      color: $gray-mid-light;
      background-color: $gray-light;
    }
    //tablet
    @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 13px;
    }
}

.ot_ci_checkoutNav .navbar-nav .ot_nav_icon {
	position: absolute;
    left: 38%;
    border: 3px solid white;
    top: 37px;
    border-radius: 40px;
    background-color: white;
    height: 40px;
    width: 43px;
}

#checkoutNav .navbar-nav li:not(.ot_ci_clickable) a:hover {
  // mobile
  @media (max-width: $screen-xs-max) {
    color: transparent;
  }
}

// for ie11 only
@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop, .ot_ci_checkoutNav .nav-pills > li:nth-of-type(3) {
    font-size: 1.5rem;
  }
}
//end ie11 only


// Footer
//===================================================
.ot_ci_footer {
  background: $footer-background;
  color: $footer-color;
  min-height: $footer-min-height;
  .ot_ci_footer .main.container>div {
    padding: 3rem;
  }
  a {
    color:$footer-color;
    font-weight: bold;
    text-decoration: underline;
  }
  //desktop
  @media (min-width: $screen-sm-min) {
		margin-top: $navbar-margin-bottom;
	}
}



.ot_ci_masterpassCompletedMenu a{
	color: #fff !important;
	border: none !important;
    height: 58px;
    background-image: url("https://s3.amazonaws.com/ovationtix/consumerInterface/masterpass_background.png") !important;
}
.ot_ci_masterpassLogo{
	vertical-align:top;
}

/******************************************/
.navbar-center {
  text-align: center;
  width: 100%;
  top:0;
  left:0;
  position: absolute;
 	a {
 	  color: $navbar-inverse-color;
 	}
}
.navbar-desktop {
  max-width: $screen-max;
  margin-left: auto;
  margin-right: auto;
}
ul.navbar-right > li {
  float:right;
}
.ot_ci_cartIcon {
  @include flexbox();
  @include flexJustify(flex-start);
  @include flexAlign(center);
  @media (max-width: $screen-xs-max) {
    // position: absolute;
    // z-index: 100;
    // right: 22px;
    //color: $navbar-inverse-color;
  }
  & .fa {
    font-size: x-large;
  }
  width: 47px;
}
 .ot_ci_cartSizeIcon {
    @include icon-circle(20px);
    margin-left: 3px;
    background: $navbar-inverse-color;
     color: $navbar-inverse-bg;
    font-size: $font-size-small;
    text-align: left;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
    font-size: 13px !important;
    left: 6px !important;
    font-weight: normal;
  }
a:hover .ot_ci_cartSizeIcon {
    background: $navbar-inverse-bg;
    color: $navbar-inverse-color;
    transition: all 0.3s ease-in-out;
  }

.dropdown {
  .dropdown-toggle {
    background-color: transparent;
    border: 0;
    font-weight: normal;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 3rem;
    position: relative;
    .fa-caret-down {
      display: inline-block;
      position: absolute;
      right: 1.15rem;
    }
    &:hover {
      background-color: #fff;
      color: $gray-dark; //$gray-darker
    }
  }
  .dropdown-menu {
    left: auto;
    margin: 0;
    padding: 0;
    top: 100%;
    border: none;
    li a {
      @include flexbox();
      @include flexJustify(space-between);
      @include flexAlign(center);
      padding: 1.5rem 2rem 1.5rem 2.25rem;
      min-width: 22rem;
      &:last-of-type {
        padding-bottom: 1.75rem;
      }
      &:hover, &:hover, &:active {
        background-color: $gray-dark; //$gray-darker
        color: $white;
      }
      .fa-arrow-right {
        // float: right;
        font-size: 1.75rem;
      }
    }
  }
}

.navbar-inverse {
  .btn.navbar-btn {
    color: $navbar-inverse-color;
    border-color: $navbar-inverse-color;
    background: transparent;
	  border: 0;
  }
  .navbar-nav li {
    a {
      color: $navbar-inverse-color;
      transition: all 0.3s ease-in-out;
    }
    &.menuHover a,
    a:hover {
      background-color:  $navbar-inverse-color;
      color: $navbar-inverse-bg;
      transition: all 0.3s ease-in-out;
    }
  }
  .dropdown .dropdown-menu {
    background: $navbar-inverse-color;
    & li {
      padding-top: 0;
      padding-bottom:0;
      a {
        &:hover {
          color: $navbar-inverse-color;
          background: lighten($navbar-inverse-bg,10%);
        }
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $navbar-inverse-bg;
        background: $navbar-inverse-color;
      }
    }
    min-width:300px;
  }
}

.menuHover .dropdown-toggle {
	 background-color:  $navbar-inverse-color;
     color: $navbar-inverse-bg;
}

.navbar-right .dropdown .dropdown-toggle {
 	display: list-item;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.bm-burger-button {
  color: $navbar-inverse-color;
}

.ot_ci_shoppingCartItems {
  color:   $navbar-inverse-color;
}

.ot_ci_superScript {
	font-size: 11px;
	top: -15px;
}

.ot_ci_shoppingCartIcon {
	font-size:1.8em;
}

.ot_ci_cartContent {
	padding: 10px;
}

.ot_ci_calendar {
	/*line-height: 15px;*/
	position: absolute !important;
    top: 1px;
    right: 47px;
}

.ot_ci_navarBarSubHeaders {
	font-size: 15px;
}


//======================================

.ot_ci_navbar_color {
  @if $navbar-inverse-bg == '#fff' {
		content : '\f006';
		font-family: 'FontAwesome';
	}
}

.popover {
	border: none;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.ot_ci_menu{
	position: absolute;
	z-index: 100;
	left: 25px;
	color:$navbar-inverse-color;
}


// mobile nav
//=======================================
@media (max-width: $screen-xs-max) {
  .ot_navbar {
      height: 50px;
      margin-bottom: 0px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      padding: 5px 8px;
      @include ot_boxShadow();
  }

  .ot_navbarContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .ot_ci_pageNavbar {
    @include flexbox();
    @include flexWrap();
    @include flexJustify(space-between);
    @include flexAlign(center);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    .ot_ci_pageNavbar_iconContainer {
      @include flexbox();
      @include flexWrap();
      @include flexAlign(flex-start);
      @include flexAlignSelf(stretch);
      width: 40px;
      height: 100%;
      padding: 0px;
      &:first-child {
        @include flexJustify(flex-start);
        .btn {
          padding: 0px 0px 0px;
        }
      }
      &:last-child {
        @include flexJustify(flex-end);
      }
    }
    li.ot_ci_organizationName {
      @include flexbox();
      @include flexJustify(center);
      @include flexAlign(center);
      @include flexGrow(1);
      max-width: 75%;
      margin: 0px auto;
      overflow: hidden;
      .navbar-brand {
        @include flexbox();
        @include flexJustify(center);
        @include flexAlign(center);
        width: 100%;
        max-width: 220px;
        height: auto;
        min-height: 40px;
        padding: 0px;
        margin: 0px auto;
        background-color: transparent !important;
        line-height: normal;
        &:hover, &:focus {
          text-decoration: underline;
          background-color: transparent !important;
          outline: none;
        }
      }
        .ot_navbarImgContainer {
          display: block;
          width: 100%;
          text-align: center;
        }
          .ot_navbarMobileLogo {
            max-width: 100%;
            max-height: 100%;
          }
    }
    &.vCenter {
      .ot_ci_pageNavbar_iconContainer {
        .btn {
          margin-top: 7.5;
        }
        > span {
          margin-top: 8px;
        }
      }
    }
  }
}
.ot_ci_mobile_menu {
	position:relative;
}
.ot_ci_menu_icon {
	position: absolute;
	top:5px;
	left: 5px;
}
.ot_ci_shop_icon {
	position: absolute;
	top:5px;
	right: 60px;
	z-index:9;
}
.ot_ci_cartPopover {
  width: 250px;
}
