.ot_ci_only-print-visible {
  display: none !important;
}
@media print {
    nav {
      display: none;
    }
    * {
      -webkit-print-color-adjust: exact;
    }
    .ot_ci_no-bg-print *{
      -webkit-print-color-adjust: economy;
      background: transparent;
    }
    .ot_ci_print-new-page {
      page-break-before: always;
    }
    .ot_ci_print-together {
      page-break-inside: avoid;
    }
    .ot_ci_print-visible, .ot_ci_only-print-visible {
      display:block !important;
    }
    .ot_ci_print-hidden {
      display:none !important;
    }
}
