// * {
//   text-transform: none;
// }
a {
	cursor: pointer;
}

*:focus {
  box-shadow: none !important;
}

input[type=number][data-no-spinner]::-webkit-inner-spin-button,
input[type=number][data-no-spinner]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select[data-rule-required="true"] {
  color:$text-color;
  font-style: normal;
  option {
    color:$text-color;
    font-style: normal;
  }
  /*option[value=""] {
    color: $placeholder-gray;
    font-style: italic;
  }
  // TODO: this is not working in chrome mac and turning all the option text color gray
  &[data-empty] {
    color: $placeholder-gray;
    font-style: italic;
  }*/
}

input[type="checkbox"], input[type="radio"] {
  margin-right: .5rem;

}
.ot_ci_noError {
  display: none !important;
}
//TODO: Make media query? This style is for desktop
header, .header {
    background-color: $table-header-bg;
    color: $table-header-color;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: .2rem 0;
    border-width: $table-header-border-width;
    border-color: $gray-light;
}


.ot_ci_noVerticalMargins {
  margin-top: 0;
  margin-bottom: 0;
}

/* style icon */
.ot_inner-addon .fa:not(.fa-question-circle) {
  position: absolute;
  padding: 13px;
  pointer-events: none;
}

/* align icon */
.ot_left-addon .fa  { left:  1rem;}
.ot_right-addon .fa { right: 1rem;}
.ot_select_right-addon .fa { right: 3rem;}

.ot_ci_rowBuffer {
  margin-top:10px;
  margin-bottom:10px;
}

.ot_ci_paddedRow {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ot_ci_clickable {
  cursor:pointer !important;
}

.ot_ci_bold {
  font-weight:bold !important;
}

.ot_ci_notBold {
  font-weight: normal !important;
}
.ot_ci_secondaryDetails {
 	font-weight: normal;
 	margin-top: 5px;
}
.ot_ci_text_left {
	text-align: left !important;
}
.ot_ci_text_right {
	text-align: right !important;
}
.ot_ci_text_center {
	text-align: center !important;
}
.fa-check-circle {
	color: $bright-green;
}

.clear-left {
  display: inline-block;
  clear: left;
}

.clear-right {
  clear: right;
  display: inline-block;
}

.floatr {
  float: right;
}

.floatl {
  float: left;
}

.ot_ci_disabled {
  color: gray !important;
}
.ot_ci_hide {
  display: none !important;
}
.ot_ci_show {
  display: block !important;
}
.ot_ci_close {
  max-height: 0;
  overflow: hidden;
}
// .ot_ci_open {
//   max-height: 2000;
//   overflow: hidden;
// }
abbr {
	text-decoration: none;
}
.ot_ci_displayInline {
	display: inline-block;
}
.ot_ci_clearList {
  list-style: none;
  padding-left: 0px;
}
